<form class="tui-form__row_multi-fields" [formGroup]="formGroup">
  <tui-input class="input-text tui-space_right-3" formControlName="name">
    Фамилия Имя
    <input
      tuiTextfield
      type="text"
    >
  </tui-input>
  <tui-input-number class="tui-space_right-3" formControlName="number">
    Номер
  </tui-input-number>
  <tui-input *ngIf="mode === ModifyMode.create" class="input-number tui-space_right-3" formControlName="startNumber">
    Стартовая позиция
    <input
      tuiTextfield
      type="text"
    >
  </tui-input>
  <tui-select
    class="input-category tui-space_right-3"
    formControlName="category"
  >
    Категория
    <input
      tuiTextfield
      placeholder="Выберите категорию"
    />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="categories$ | async"
    ></tui-data-list-wrapper>
  </tui-select>
  <button
    *ngIf="mode === ModifyMode.edit"
    class="tui-space_right-3"
    tuiButton
    type="button"
    appearance="secondary"
    (click)="onCancel()"
  >
    <tui-svg
      src="tuiIconXCircleLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Отмена
  </button>
  <button
    tuiButton
    type="button"
    appearance="primary"
    (click)="onChangeRacer()"
    [disabled]="formGroup.invalid"
  >
    <tui-svg
      src="tuiIconPlusCircleLarge"
      class="tui-space_right-2"
    ></tui-svg>
    {{ buttonLabelMap[mode] }}
  </button>
</form>
