:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.race-name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h2 {
  margin-bottom: 0;
}

.title-input {
  min-width: 200px;
}

.content {
  width: 84px;

  font-weight: bold;
}
