<header class="header">
  <div class="race-name-wrapper">
    <img ngSrc="../../../assets/mini-logo.png" width="50" height="50" alt="БЦКЛД">
    <ng-container *ngIf="isRaceNameEditing; else title">
      <tui-input class="tui-space_right-1 title-input" tuiTextfieldSize="s" [formControl]="raceNameFormControl">
        Название гонки
        <input
          tuiTextfield
          type="text"
        >
      </tui-input>
      <button
        class="tui-space_right-1"
        tuiButton
        type="button"
        appearance="secondary"
        size="s"
        (click)="isRaceNameEditing = false"
      >
        <tui-svg
          src="tuiIconXCircleLarge"
          class="tui-space_right-1"
        ></tui-svg>
        Отмена
      </button>
      <button
        tuiButton
        type="button"
        appearance="primary"
        size="s"
        (click)="onRaceNameSave()"
      >
        <tui-svg
          src="tuiIconPlusCircleLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Сохранить
      </button>
    </ng-container>

    <ng-template #title>
      <button
        tuiLink
        type="button"
        [pseudo]="true"
        (click)="onRaceNameClick()"
      >
        <h2 class="tui-island__title h2">{{ raceName$ | async }}</h2>
      </button>
    </ng-template>
  </div>

  <form
    orientation="horizontal"
    tuiGroup
    class="group"
    [collapsed]="true"
  >
    <tui-radio-block
      contentAlign="right"
      [formControl]="raceType"
      [item]="RaceType.ITT"
      size="l"
    >
      <div class="content">Разделка</div>
    </tui-radio-block>
    <tui-radio-block
      contentAlign="right"
      [formControl]="raceType"
      [item]="RaceType.GROUP"
      size="l"
    >
      <div class="content">Групповая</div>
    </tui-radio-block>
  </form>
</header>
