<tui-stepper class="tui-space_bottom-6" [(activeItemIndex)]="currentStepperIndex">
  <button tuiStep disabled [stepState]="currentStepperIndex > 0 ? 'pass' : 'normal'">Ссылка</button>
  <button tuiStep disabled [stepState]="currentStepperIndex > 1 ? 'pass' : 'normal'">Фамилия имя</button>
  <button tuiStep disabled [stepState]="currentStepperIndex > 2 ? 'pass' : 'normal'">Категории</button>
</tui-stepper>
<ng-container *ngIf="currentStepperIndex === 0">
  <tui-input class="tui-space_bottom-6" [tuiTextfieldSize]="'m'" [formControl]="googleTableSheetUrlControl">
    URL
    <input
      tuiTextfield
      type="text"
    >
  </tui-input>

  <div class="button-wrapper">
    <tui-loader
      class="loader"
      [inheritColor]="true"
      [overlay]="true"
      [showLoader]="isGoogleTableSheetLoading"
    >
      <button
        tuiButton
        type="button"
        size="m"
        appearance="primary"
        class="tui-space_right-3"
        (click)="onGetGoogleTableData()"
        [disabled]="googleTableSheetUrlControl.invalid"
      >
        Получить список
      </button>
    </tui-loader>
    <button
      tuiButton
      type="button"
      size="m"
      appearance="secondary"
      (click)="onCancel()"
    >
      Отмена
    </button>
  </div>
</ng-container>

<ng-container *ngIf="currentStepperIndex === 1">
  <p class="tui-space_bottom-6 tui-space_top-0">Выберите название столбца с <b>Фамилией и именем</b></p>
  <ul>
    <li *ngFor="let key of googleTableSheetKeys; let i = index">
      <button
        tuiLink
        type="button"
        [pseudo]="true"
        (click)="onGoogleCellClick(i, 'name'); nextStep()"
      >
        {{ key }}
      </button>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="currentStepperIndex === 2">
  <p class="tui-space_bottom-6 tui-space_top-0">Выберите название столбца с <b>категориями</b></p>
  <ul>
    <li *ngFor="let key of googleTableSheetKeys; let i = index">
      <button
        tuiLink
        type="button"
        [pseudo]="true"
        (click)="onGoogleCellClick(i, 'category'); onComplete()"
      >
        {{ key }}
      </button>
    </li>
  </ul>
</ng-container>
