<tui-island size="l">
  <h2 class="tui-island__title tui-space_bottom-5">Список участников на старт</h2>

  <ol class="tui-list tui-list_ordered tui-list_large">
    <li class="tui-list__item item" *ngFor="let item of racers$ | async; let i = index">
      <span
        class="name"
        [ngClass]="{
          current: (currentRacerIndex$ | async) === i && (isRaceStarted$ | async)
        }"
      >
        {{ item }}
      </span>
      <button
        tuiIconButton
        appearance="flat"
        size="s"
        icon="tuiIconArrowUp"
        title="Выше"
        shape="rounded"
        type="button"
        (click)="up(i)"
        [disabled]="i === 0"
      ></button>
      <button
        tuiIconButton
        appearance="flat"
        size="s"
        icon="tuiIconArrowDown"
        title="Ниже"
        shape="rounded"
        type="button"
        (click)="down(i)"
        [disabled]="i === (racers$ | async)!.length - 1"
      ></button>
      <button
        tuiIconButton
        appearance="flat"
        size="s"
        icon="tuiIconTrash"
        title="Удалить"
        shape="rounded"
        type="button"
        (click)="remove(i)"
      ></button>
    </li>
  </ol>


</tui-island>
