<section>
  <h2>Регистрация</h2>
  <form class="form" [formGroup]="authForm">
    <mat-form-field appearance="fill">
      <mat-label>
        Email
      </mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Пароль
      </mat-label>
      <input [type]="isHide ? 'password' : 'text'" matInput formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="isHide = !isHide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isHide" tabindex="-1">
        <mat-icon>{{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Повторите пароль
      </mat-label>
      <input [type]="isHide ? 'password' : 'text'" matInput formControlName="repeatedPassword">
      <button type="button" mat-icon-button matSuffix (click)="isHide = !isHide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isHide" tabindex="-1">
        <mat-icon>{{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Имя
      </mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Фамилия
      </mat-label>
      <input matInput type="text" formControlName="surname">
    </mat-form-field>
    <mat-radio-group class="radio-button-group" formControlName="gender">
      <mat-radio-button value="MAN">Муж.</mat-radio-button>
      <mat-radio-button value="WOMAN">Жен.</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="fill">
      <mat-label>
        Дата рождения ДД.ММ.ГГГГ
      </mat-label>
      <input matInput type="text" pattern="^\s*(3[01]|[12][0-9]|0?[1-9])\.(1[012]|0?[1-9])\.((?:19|20)\d{2})\s*$"
             formControlName="dob">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Мобильный телефон
      </mat-label>
      <input matInput type="text" formControlName="phone" placeholder="+7 xxx xxx xx xx">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Город
      </mat-label>
      <input matInput type="text" formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Команда
      </mat-label>
      <input matInput type="text" formControlName="team">
    </mat-form-field>
    <button type="button" mat-flat-button color="primary" (click)="onCreateButtonClick()"
            [disabled]="(isInvalidForm$ | async)">
      Зарегистрироваться
    </button>
  </form>

</section>
