<tui-island size="l">
  <h2 class="tui-island__title tui-space_bottom-5">Регистрация участника</h2>
  <form class="tui-form__row_multi-fields">
    <tui-input class="input tui-space_right-3">
      Фамилия Имя
      <input
        tuiTextfield
        type="text"
      >
    </tui-input>
    <button
      tuiButton
      type="button"
      appearance="primary"
    >
      <tui-svg
        src="tuiIconPlusCircleLarge"
        class="tui-space_right-2"
      ></tui-svg>
      Добавить
    </button>
  </form>
</tui-island>
