.item {
  display: flex;
  align-items: center;
}

.name {
  display: block;
  min-width: 350px;
}

.category {
  display: block;
  min-width: 130px;
}

.current {
  font-weight: bold;
}

.tui-list_ordered .tui-list__item {
  padding-left: 26px;
}

.input-text {
  min-width: 400px;
}

.input-category {
  min-width: 160px;
}

.input-number {
  flex-grow: 1;
}

.dialog-container {
  display: flex;
  width: 100%;
}

.button-wrapper {
  display: flex;

  & button {
    flex-grow: 1;
  }
}

.dialog-description {
  text-align: center;
}
