:host {
  display: block;
}

.button-wrapper {
  display: flex;

  & button {
    flex-grow: 1;
  }
}

.dialog-container {
  display: flex;
  width: 100%;
}

.dialog-description {
  text-align: center;
}
