<tui-island size="l">
  <header class="header">
    <img ngSrc="../../../assets/mini-logo.png" width="50" height="50" alt="БЦКЛД">
    <ng-container *ngIf="isRaceNameEditing; else title">
      <tui-input class="tui-space_right-1 title-input" tuiTextfieldSize="s" [formControl]="raceNameFormControl">
        Название гонки
        <input
          tuiTextfield
          type="text"
        >
      </tui-input>
      <button
        class="tui-space_right-1"
        tuiButton
        type="button"
        appearance="secondary"
        size="s"
        (click)="isRaceNameEditing = false"
      >
        <tui-svg
          src="tuiIconXCircleLarge"
          class="tui-space_right-1"
        ></tui-svg>
        Отмена
      </button>
      <button
        tuiButton
        type="button"
        appearance="primary"
        size="s"
        (click)="onRaceNameSave()"
      >
        <tui-svg
          src="tuiIconPlusCircleLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Сохранить
      </button>
    </ng-container>
    <ng-template #title>
      <button
        tuiLink
        type="button"
        [pseudo]="true"
        (click)="onRaceNameClick()"
      >
        <h2 class="tui-island__title h2">{{ raceName$ | async }}</h2>
      </button>

    </ng-template>
  </header>

  <div *tuiLet="racers$ | async as racers">
    <app-itt-race-progress
      [currentRacer]="generateRacerNameAndNumberString(racers![currentRacerIndex$.value])"
      [nextRacer]="generateRacerNameAndNumberString(racers![currentRacerIndex$.value + 1])"
      [showRacerNames]="racers![currentRacerIndex$.value] !== undefined"
      [showTimer]="(racers$ | async)!.length > (currentRacerIndex$ | async)!"
      [showEmptyRacerListNotification]="raceStatus !== RaceStatus.prepare"
      [deltaEditMode]="isRaceStarted$.value"
      (delta)="openDeltaDialog(setDelta)"
    />

    <app-race-controls
      [raceStatus]="raceStatus"
      [isStartDisabled]="isRaceStarted$.value! || !isAllMembersHasNumbers$.value!"
      [isPauseAndSkipDisabled]="isAllMembersStarted$.value! || !isRaceStarted$.value"
      [isResetDisabled]="isRaceStarted$.value && !isAllMembersStarted$.value"
      (start)="onStart()"
      (skip)="onSkip()"
      (pause)="onPause()"
      (reset)="openResetDialog(reset)"
      (readJSON)="setStateFromJSON($event)"
      (googleTable)="openGoogleTableDialog(googleTableDialog)"
    />
  </div>
</tui-island>

<ng-template
  #reset
  let-observer
>
  <p class="dialog-description tui-text_h6 tui-space_bottom-8 tui-space_top-0">Сбросить гонку?</p>

  <div class="button-wrapper">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="accent"
      class="tui-space_right-3"
      (click)="onReset(); observer.complete()"
    >
      Сброс
    </button>
    <button
      tuiButton
      type="button"
      size="m"
      appearance="secondary"
      (click)="observer.complete()"
    >
      Отмена
    </button>
  </div>
</ng-template>

<ng-template
  #newRace
  let-observer
>
  <p class="dialog-description tui-text_h6 tui-space_bottom-8 tui-space_top-0">Найдена предыдущая гонка, хотите
    продолжить?</p>

  <div class="button-wrapper">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      class="tui-space_right-3"
      (click)="onContinuePrevRace(); observer.complete()"
    >
      Продолжить
    </button>
    <button
      tuiButton
      type="button"
      size="m"
      appearance="secondary"
      (click)="onReset(); observer.complete()"
    >
      Новая гонка
    </button>
  </div>
</ng-template>

<ng-template
  #googleTableDialog
  let-observer
>
  <tui-stepper class="tui-space_bottom-6" [(activeItemIndex)]="currentStepperIndex">
    <button tuiStep disabled [stepState]="currentStepperIndex > 0 ? 'pass' : 'normal'">Ссылка</button>
    <button tuiStep disabled [stepState]="currentStepperIndex > 1 ? 'pass' : 'normal'">Фамилия имя</button>
    <button tuiStep disabled [stepState]="currentStepperIndex > 2 ? 'pass' : 'normal'">Категории</button>
  </tui-stepper>
  <ng-container *ngIf="currentStepperIndex === 0">
    <tui-input class="tui-space_bottom-6" [tuiTextfieldSize]="'m'" [formControl]="googleTableSheetUrlControl">
      URL
      <input
        tuiTextfield
        type="text"
      >
    </tui-input>

    <div class="button-wrapper">
      <tui-loader
        class="loader"
        [inheritColor]="true"
        [overlay]="true"
        [showLoader]="isGoogleTableSheetLoading"
      >
        <button
          tuiButton
          type="button"
          size="m"
          appearance="primary"
          class="tui-space_right-3"
          (click)="onGetGoogleTableData()"
          [disabled]="googleTableSheetUrlControl.invalid"
        >
          Получить список
        </button>
      </tui-loader>
      <button
        tuiButton
        type="button"
        size="m"
        appearance="secondary"
        (click)="observer.complete()"
      >
        Отмена
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStepperIndex === 1">
    <p class="tui-space_bottom-6 tui-space_top-0">Выберите название столбца с <b>Фамилией и именем</b></p>
    <ul>
      <li *ngFor="let key of googleTableSheetKeys; let i = index">
        <button
          tuiLink
          type="button"
          [pseudo]="true"
          (click)="onGoogleCellClick(i, 'name'); nextStep()"
        >
          {{ key }}
        </button>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="currentStepperIndex === 2">
    <p class="tui-space_bottom-6 tui-space_top-0">Выберите название столбца с <b>категориями</b></p>
    <ul>
      <li *ngFor="let key of googleTableSheetKeys; let i = index">
        <button
          tuiLink
          type="button"
          [pseudo]="true"
          (click)="onGoogleCellClick(i, 'category'); completeSteps(); observer.complete()"
        >
          {{ key }}
        </button>
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template
  #setDelta
  let-context
>
  <p class="dialog-description tui-text_h6 tui-space_bottom-8 tui-space_top-0">Укажите дельту</p>

  <div class="button-wrapper">
    <tui-input-number class="tui-space_right-3 input-number" [tuiTextfieldSize]="'m'" [formControl]="deltaFormControl">
      Дельта
    </tui-input-number>
    <button
      tuiButton
      appearance="primary"
      size="m"
      (click)="onSetDelta(); context.complete()"
      [disabled]="deltaFormControl.invalid"
    >
      ОК
    </button>
  </div>
</ng-template>
