:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h2 {
  margin-bottom: 0;
}

.title-input {
  min-width: 200px;
}

.button-wrapper {
  display: flex;

  & button {
    flex-grow: 1;
  }
}

.dialog-container {
  display: flex;
  width: 100%;
}

.dialog-description {
  text-align: center;
}
