<tui-island size="l">

  <app-race-header
    [raceName$]="raceName$"
    (raceNameSave)="onRaceNameSave($event)"
  />

  <div *tuiLet="racers$ | async as racers">
    <app-itt-race-progress
      [currentRacer]="generateRacerNameAndNumberString(racers![currentRacerIndex$.value])"
      [nextRacer]="generateRacerNameAndNumberString(racers![currentRacerIndex$.value + 1])"
      [isShowRacerNames]="racers![currentRacerIndex$.value] !== undefined"
      [isShowTimer]="(racers$ | async)!.length > (currentRacerIndex$ | async)!"
      [isShowEmptyRacerListNotification]="raceStatus !== RaceStatus.prepare"
      [isDeltaEditMode]="isRaceStarted$.value"
      [currentTimerValue]="currentTimerValue"
      [maxTimerValue]="maxTimerValue"
      (newDelta)="onSetDelta($event)"
    />

    <app-race-controls
      [raceStatus]="raceStatus"
      [isStartDisabled]="isRaceStarted$.value! || !isAllMembersHasNumbers$.value!"
      [isPauseAndSkipDisabled]="isAllMembersStarted$.value! || !isRaceStarted$.value"
      [isResetDisabled]="isRaceStarted$.value && !isAllMembersStarted$.value"
      (start)="onStart()"
      (skip)="onSkip()"
      (pause)="onPause()"
      (reset)="openResetDialog(reset)"
      (readJSON)="setStateFromJSON($event)"
      (googleTable)="openGoogleTableDialog(googleTableDialog)"
    />
  </div>
</tui-island>

<ng-template
  #reset
  let-observer
>
  <p class="dialog-description tui-text_h6 tui-space_bottom-8 tui-space_top-0">Сбросить гонку?</p>

  <div class="button-wrapper">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="accent"
      class="tui-space_right-3"
      (click)="onReset(); observer.complete()"
    >
      Сброс
    </button>
    <button
      tuiButton
      type="button"
      size="m"
      appearance="secondary"
      (click)="observer.complete()"
    >
      Отмена
    </button>
  </div>
</ng-template>

<ng-template
  #newRace
  let-observer
>
  <p class="dialog-description tui-text_h6 tui-space_bottom-8 tui-space_top-0">Найдена предыдущая гонка, хотите
    продолжить?</p>

  <div class="button-wrapper">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      class="tui-space_right-3"
      (click)="onContinuePrevRace(); observer.complete()"
    >
      Продолжить
    </button>
    <button
      tuiButton
      type="button"
      size="m"
      appearance="secondary"
      (click)="onReset(); observer.complete()"
    >
      Новая гонка
    </button>
  </div>
</ng-template>

<ng-template
  #googleTableDialog
  let-observer
>
  <app-google-table-stepper
    (cancel)="observer.complete()"
    (complete)="completeSteps($event); observer.complete()"
  />
</ng-template>
