<tui-island size="l">
  <header class="header">
    <img ngSrc="../../../assets/mini-logo.png" width="50" height="50" alt="БЦКЛД">
    <h2 class="tui-island__title h2">Кутаис 2025. ITT.</h2>
  </header>

  <div class="grid" *tuiLet="racers$ | async as racers">
    <div class="racers-container" *tuiLet="currentRacerIndex$ | async as index">
      <ng-container *ngIf="racers !== null && index !== null && racers[index]">
        <p class="current">
          <span class="tui-text_body-xl">Стартует</span>
          <span class="tui-text_h1 racer">
          {{ generateRacerNameAndNumberString(racers![index]) }}
        </span>
        </p>
        <p class="next">
          <span class="tui-text_body-xl">Готовится</span>
          <span class="tui-text_h4 racer">
          {{ generateRacerNameAndNumberString(racers![index + 1]) }}
        </span>
        </p>
      </ng-container>
    </div>
    <div class="timer-container">
      <svg
        width="0"
        height="0"
      >
        <defs>
          <linearGradient
            id="gradient"
            gradientTransform="rotate(95)"
          >
            <stop
              offset="0%"
              stop-color="var(--tui-support-02)"
            ></stop>
            <stop
              offset="45%"
              stop-color="var(--tui-support-14)"
            ></stop>
            <stop
              offset="100%"
              stop-color="var(--tui-support-12)"
            ></stop>
          </linearGradient>
        </defs>
      </svg>

      <label
        class="timer"
        *ngIf="(racers$ | async)!.length > (currentRacerIndex$ | async)!; else emptyList"
        tuiProgressLabel
      >
        <span class="tui-text_h1">{{ value }}</span>

        <tui-progress-circle
          color="url(#gradient)"
          size="xl"
          [max]="max"
          [value]="value"
        ></tui-progress-circle>
      </label>
    </div>
    <div class="controls-container" *tuiLet="isRaceStarted$ | async as isRaceStarted">
      <button
        tuiButton
        type="button"
        appearance="primary"
        (click)="onStart()"
        [disabled]="isRaceStarted!"
      >
        <tui-svg
          src="tuiIconPlayCircleLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Старт
      </button>
      <button
        tuiButton
        type="button"
        appearance="secondary"
        (click)="onSkip()"
        [disabled]="(isAllMembersStarted$ | async)! || !isRaceStarted"
      >
        <tui-svg
          src="tuiIconFastForwardLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Пропуск
      </button>
      <button
        tuiButton
        type="button"
        appearance="flat"
        (click)="onPause()"
        [disabled]="(isAllMembersStarted$ | async)! || !isRaceStarted"
      >
        <tui-svg
          src="tuiIconPauseCircleLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Пауза
      </button>
      <button
        tuiButton
        type="button"
        appearance="secondary-destructive"
        (click)="showDialog(reset)"
        [disabled]="isRaceStarted!"
      >
        <tui-svg
          src="tuiIconStopCircleLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Сброс
      </button>
      <button
        class="icon-button"
        tuiButton
        type="button"
        appearance="flat"
        (click)="generateAndDownloadJSON()"
      >
        <tui-svg
          src="tuiIconDownloadLarge"
          class="tui-space_right-2"
        ></tui-svg>
      </button>
      <button
        class="icon-button"
        tuiButton
        type="button"
        appearance="flat"
        (click)="setStateFromJSON()"
      >
        <tui-svg
          src="tuiIconRefreshCcwLarge"
          class="tui-space_right-2"
        ></tui-svg>
      </button>
      <a class="btn btn-clear" title="Download JSON" [href]="downloadJsonHref" download="download.json" #download></a>
    </div>
  </div>
</tui-island>

<ng-template #emptyList>
  <p class="tui-text_h3 empty-list">Все участники стартовали</p>
</ng-template>

<ng-template
  #reset
  let-observer
>
  <p>Уверены, что хотите сбросить гонку?</p>

  <button
    tuiButton
    type="button"
    size="m"
    appearance="secondary-destructive"
    class="tui-space_right-3"
    (click)="onReset()"
  >
    Сброс
  </button>
  <button
    tuiButton
    type="button"
    size="m"
    appearance="secondary"
    (click)="observer.complete()"
  >
    Отмена
  </button>
</ng-template>
