<form class="form">
  <mat-form-field appearance="fill">
    <mat-label>
      Логин
    </mat-label>
    <input matInput [formControl]="login">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>
      Пароль
    </mat-label>
    <input [type]="hide ? 'password' : 'text'" matInput [formControl]="password">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" tabindex="-1">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button type="button" mat-flat-button color="primary" (click)="onLoginButtonClick()">Войти</button>
</form>
