<ng-container [ngSwitch]="status">
  <tui-badge
    *ngSwitchCase="RacerStatus.DNS"
    class="badge-status"
    status="error"
    value="DNS"
  ></tui-badge>
  <tui-badge
    *ngSwitchCase="RacerStatus.FINISHED"
    class="badge-status"
    status="success"
    value="Финиш"
  ></tui-badge>
  <tui-badge
    *ngSwitchCase="RacerStatus.STARTED"
    class="badge-status"
    status="info"
    value="В пути"
  ></tui-badge>
  <tui-badge
    *ngSwitchCase="RacerStatus.DNF"
    class="badge-status"
    status="error"
    value="DNF"
  ></tui-badge>
  <span
    *ngSwitchDefault
  ></span>
</ng-container>
