<mat-toolbar color="primary">
  <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="!(isAuthorized$ | async); else authorized">
      <button mat-menu-item routerLink="/login">Войти</button>
      <button mat-menu-item routerLink="/register">Регистрация</button>
    </ng-container>
  </mat-menu>
</mat-toolbar>

<ng-template #authorized>
  <button mat-menu-item (click)="onLogoutClick()">Выйти</button>
</ng-template>
