<tui-island size="l">
  <h2 class="tui-island__title tui-space_bottom-5">Финишный протокол</h2>

  <ng-container *ngIf="!(isRaceEnded$ | async)">
    <form class="tui-form__row_multi-fields form" [formGroup]="formGroup" (ngSubmit)="$event.preventDefault(); onFinish()">
      <tui-input
        *tuiLet="racers$ | async as racers"
        class="input"
        formControlName="racer"
        tuiTextfieldSize="m"
      >
        Фамилия Имя
        <input
          tuiTextfield
          type="text"
        >
        <ng-container *ngIf="racers?.length">
          <tui-data-list *tuiDataList>
            <button
              *ngFor="let racer of racers"
              tuiOption
              [value]="racer.toString()"
            >
              {{ racer }}
            </button>
          </tui-data-list>
        </ng-container>
      </tui-input>
      <button
        tuiButton
        type="submit"
        appearance="primary"
        size="m"
        (click)="$event.preventDefault(); onFinish()"
        [disabled]="racerControl.value?.length === 0"
      >
        <tui-svg
          src="tuiIconFlagLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Финиш
      </button>
      <button
        tuiButton
        type="button"
        appearance="secondary"
        size="m"
        (click)="onAnonButton()"
        [disabled]="!(isRaceBeginning$ | async)"
      >
        <tui-svg
          src="tuiIconFlagLarge"
          class="tui-space_right-2"
        ></tui-svg>
        Аноним
      </button>
    </form>
    <ol
      *ngIf="anonFinishers$.value.length > 0"
      class="tui-list tui-list_ordered tui-list_large tui-space_bottom-8"
    >
      <li
        *ngFor="let anon of anonFinishers$.value; let i = index"
        class="tui-list__item item"
      >
        <button
          tuiLink
          type="button"
          [pseudo]="true"
          (click)="openAnonSelectDialog(content, i)"
        >
          {{ anon.name }}
        </button>
        <button
          tuiIconButton
          appearance="flat"
          size="s"
          icon="tuiIconTrash"
          title="Удалить"
          shape="rounded"
          type="button"
          (click)="openRemoveDialog(reset)"
        ></button>

        <ng-template
          #reset
          let-observer
        >
          <p class="dialog-description tui-text_h6 tui-space_bottom-10">Уверены, что хотите удалить анонима?</p>

          <div class="button-wrapper">
            <button
              tuiButton
              type="button"
              size="m"
              appearance="accent"
              class="tui-space_right-3"
              (click)="removeAnon(i); observer.complete()"
            >
              Удалить
            </button>
            <button
              tuiButton
              type="button"
              size="m"
              appearance="secondary"
              (click)="observer.complete()"
            >
              Отмена
            </button>
          </div>
        </ng-template>

      </li>
    </ol>
  </ng-container>

  <ng-container *tuiLet="finishers$ | async as finishers">
    <ng-container *ngIf="finishers!.length > 0">
      <ng-container *ngIf="(raceType$ | async) === RaceType.ITT">
        <h3>Абсолют</h3>
        <ol class="tui-list tui-list_ordered tui-list_large">
          <li
            *ngFor="let finisher of finishers"
            class="tui-list__item list-item"
          >
            <span class="finisher-name">{{ finisher.name }}</span><span class="finisher-time">{{ getTimeRemaining(finisher.time) }}</span>
          </li>
        </ol>
      </ng-container>
      <ng-container *ngIf="!isLapRace; else lapRaceTemplate">
        <ng-container *ngFor="let category of categories">
          <ng-container *ngIf="finishersByCategoriesMap$.value[category].length > 0">
            <h3>{{ category }}</h3>
            <ol class="tui-list tui-list_ordered tui-list_large">
              <li
                *ngFor="let finisher of finishersByCategoriesMap$.value[category]"
                class="tui-list__item list-item"
              >
                <span class="finisher-name">{{ finisher.name }}</span><span class="finisher-time">{{ getTimeRemaining(finisher.time) }}</span>
              </li>
            </ol>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #lapRaceTemplate>
        <ng-container *ngFor="let category of categories">
          <ng-container *ngIf="finishersByCategoriesMap$.value[category].length > 0">
            <table class="table-category">
              <tr>
                <th></th>
                <th><h3 class="th-category">{{ category }}</h3></th>
                <th class="table-header" *ngFor="let index of getArrayByLength(lapByCategoriesMap[category])">
                  Круг {{ index }}
                </th>
                <th class="table-header finish-lap">Время финиша</th>
              </tr>
              <tr
                *ngFor="let finisher of finishersByCategoriesMap$.value[category]; let i = index"
              >
                <td class="table-description table-description--count">{{ i + 1 }}.</td>
                <td class="finisher-name table-description">
                  {{ finisher.name }}
                </td>
                <td class="finisher-time table-description" *ngFor="let time of finisher.timeList">
                  {{ getTimeRemaining(time) }}
                </td>
                <td class="finisher-time table-description finish-lap" *ngIf="finisher.time">
                  {{getTimeRemaining(finisher.time)}}
                </td>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </ng-template>

    </ng-container>
  </ng-container>
</tui-island>

<ng-template
  #content
  let-context
>
  <form (ngSubmit)="$event.preventDefault(); onRenameAnon(); context.complete()">
    <tui-input
      *tuiLet="anonRacers$ | async as anonRacers"
      class="tui-space_bottom-6"
      tuiTextfieldSize="m"
      [formControl]="anonNameControl"
    >
      Выбрать анонима
      <input
        tuiTextfield
        tuiAutoFocus
        type="text"
      >
      <ng-container *ngIf="anonRacers?.length">
        <tui-data-list *tuiDataList>
          <button
            *ngFor="let anon of anonRacers"
            tuiOption
            [value]="anon.toString()"
          >
            {{ anon }}
          </button>
        </tui-data-list>
      </ng-container>
    </tui-input>
    <div class="button-wrapper">
      <button
        tuiButton
        appearance="primary"
        size="m"
        class="tui-space_right-3"
        type="submit"
        (click)="$event.preventDefault(); onRenameAnon(); context.complete()"
      >
        Выбрать
      </button>
      <button
        tuiButton
        appearance="secondary"
        size="m"
        (click)="context.complete()"
      >
        Отмена
      </button>
    </div>
  </form>
</ng-template>
