.input {
  min-width: 400px;
}

.form {
  display: flex;
  gap: 20px;

  & button {
    width: 200px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.tui-list_ordered .tui-list__item {
  padding-left: 26px;
}

.button-wrapper {
  display: flex;

  & button {
    flex-grow: 1;
  }
}
