.input {
  min-width: 400px;
}

.form {
  display: flex;
  gap: 20px;

  & button {
    width: 200px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.tui-list_ordered .tui-list__item {
  padding-left: 26px;
}

.button-wrapper {
  display: flex;

  & button {
    flex-grow: 1;
  }
}

.list-item {
  display: flex;
  align-items: center;
}

.finisher-name {
  min-width: 350px;
  padding-right: 0.75rem;
}

.finisher-time {
  min-width: 150px;

  font-family: "JetBrains", monospace;
}

.table-category:not(:last-child) {
  margin-bottom: 40px;
}

.table-header {
  min-width: 150px;
  padding-bottom: 0.75rem;

  color: var(--tui-text-03);

  border-bottom: 1px solid var(--tui-base-03);
}

.table-description {
  padding-top: 0.75rem;

  &--count {
    min-width: 26px;

    color: var(--tui-text-03);
  }
}

.finish-lap {
  text-align: right;
}

.th-category {
  margin: 0;
}
