<tui-island size="l">
  <h2 class="tui-island__title tui-space_bottom-5">Финишный протокол</h2>
  <form class="tui-form__row_multi-fields tui-space_bottom-8 form" [formGroup]="formGroup">
    <tui-input
      *tuiLet="racers$ | async as racers"
      class="input"
      formControlName="racer"
      tuiTextfieldSize="m"
    >
      Фамилия Имя
      <input
        tuiTextfield
        type="text"
      >
      <ng-container *ngIf="racers?.length">
        <tui-data-list *tuiDataList>
          <button
            *ngFor="let racer of racers"
            tuiOption
            [value]="racer.toString()"
          >
            {{ racer }}
          </button>
        </tui-data-list>
      </ng-container>
    </tui-input>
    <button
      tuiButton
      type="button"
      appearance="primary"
      size="m"
      (click)="onFinish()"
      [disabled]="racerControl.value?.length === 0"
    >
      <tui-svg
        src="tuiIconFlagLarge"
        class="tui-space_right-2"
      ></tui-svg>
      Финиш
    </button>
    <button
      tuiButton
      type="button"
      appearance="secondary"
      size="m"
      (click)="onAnonButton()"
      [disabled]="!(isRaceBeginning$ | async)"
    >
      <tui-svg
        src="tuiIconFlagLarge"
        class="tui-space_right-2"
      ></tui-svg>
      Аноним
    </button>
  </form>
  <ol
    *ngIf="anonFinishers$.value.length > 0"
    class="tui-list tui-list_ordered tui-list_large tui-space_bottom-8"
  >
    <li
      *ngFor="let anon of anonFinishers$.value; let i = index"
      class="tui-list__item item"
    >
      <button
        tuiLink
        type="button"
        [pseudo]="true"
        (click)="openAnonSelectDialog(content, i)"
      >
        {{ anon.name }}
      </button>
      <button
        tuiIconButton
        appearance="flat"
        size="s"
        icon="tuiIconTrash"
        title="Удалить"
        shape="rounded"
        type="button"
        (click)="openRemoveDialog(reset)"
      ></button>

      <ng-template
        #reset
        let-observer
      >
        <p class="dialog-description tui-text_h6 tui-space_bottom-10">Уверены, что хотите удалить анонима?</p>

        <div class="button-wrapper">
          <button
            tuiButton
            type="button"
            size="m"
            appearance="accent"
            class="tui-space_right-3"
            (click)="removeAnon(i); observer.complete()"
          >
            Удалить
          </button>
          <button
            tuiButton
            type="button"
            size="m"
            appearance="secondary"
            (click)="observer.complete()"
          >
            Отмена
          </button>
        </div>
      </ng-template>

    </li>
  </ol>
  <ng-container *tuiLet="finishers$ | async as finishers">
    <ng-container *ngIf="finishers!.length > 0">
      <ng-container *ngIf="(raceType$ | async) === RaceType.ITT">
        <h3>Абсолют</h3>
        <ol class="tui-list tui-list_ordered tui-list_large">
          <li
            *ngFor="let finisher of finishers"
            class="tui-list__item"
          >
            {{ finisher.name }} - {{ getTimeRemaining(finisher.time) }}
          </li>
        </ol>
      </ng-container>
      <ng-container *ngFor="let category of finishersByCategories$.value">
        <ng-container *ngIf="category.finishers.length > 0">
          <h3>{{ category.name }}</h3>
          <ol class="tui-list tui-list_ordered tui-list_large">
            <li
              *ngFor="let finisher of category.finishers"
              class="tui-list__item"
            >
              {{ finisher.name }} - {{ getTimeRemaining(finisher.time) }}
            </li>
          </ol>
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>
</tui-island>

<ng-template
  #content
  let-context
>
  <tui-input
    *tuiLet="anonRacers$ | async as anonRacers"
    class="tui-space_bottom-6"
    tuiTextfieldSize="m"
    [formControl]="anonNameControl"
  >
    Выбрать анонима
    <input
      tuiTextfield
      type="text"
    >
    <ng-container *ngIf="anonRacers?.length">
      <tui-data-list *tuiDataList>
        <button
          *ngFor="let anon of anonRacers"
          tuiOption
          [value]="anon.toString()"
        >
          {{ anon }}
        </button>
      </tui-data-list>
    </ng-container>
  </tui-input>
  <div class="button-wrapper">
    <button
      tuiButton
      appearance="primary"
      size="m"
      class="tui-space_right-3"
      (click)="onRenameAnon(); context.complete()"
    >
      Выбрать
    </button>
    <button
      tuiButton
      appearance="secondary"
      size="m"
      (click)="context.complete()"
    >
      Отмена
    </button>
  </div>
</ng-template>
