:host {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 33%)
}

.racers {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.current, .next {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}

.racer {
  min-height: 80px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seconds {

}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & button {
    width: 200px;
  }
}

.empty-list {
  text-align: center;
}
