:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h2 {
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.racers-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.current, .next {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}

.racer {
  min-height: 80px;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  transform: scale(3);
}

.seconds {

}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 60px;

  grid-column: 1 / -1;

  & button {
    width: 200px;
  }
}

.empty-list {
  text-align: center;
}
