<form class="tui-form__row_multi-fields" [formGroup]="formGroup">
  <tui-input class="input-text tui-space_right-3" [tuiTextfieldSize]="mode === ModifyMode.edit ? 's' : 'm'" formControlName="name">
    Фамилия Имя
    <input
      tuiTextfield
      type="text"
    >
  </tui-input>
  <tui-input class="tui-space_right-3 input-number" formControlName="number" [tuiTextfieldSize]="mode === ModifyMode.edit ? 's' : 'm'">
    Номер
    <input
      tuiTextfield
      type="text"
    >
  </tui-input>
  <tui-input *ngIf="mode === ModifyMode.create" class="input-number tui-space_right-3" formControlName="startNumber" tuiTextfieldSize="m">
    Стартовая позиция
    <input
      tuiTextfield
      type="text"
    >
  </tui-input>
  <tui-input
    *ngIf="isAddCategoryMode"
    class="input-category tui-space_right-3"
    tuiAutoFocus
    [tuiTextfieldSize]="mode === ModifyMode.edit ? 's' : 'm'" formControlName="category"
  >
    Категория
    <input
      tuiTextfield
      type="text"
    >
  </tui-input>
  <tui-select
    *ngIf="!isAddCategoryMode"
    class="input-category tui-space_right-3"
    formControlName="category"
    [tuiTextfieldSize]="mode === ModifyMode.edit ? 's' : 'm'"
  >
    Категория
    <input
      tuiTextfield
      [tuiTextfieldSize]="mode === ModifyMode.edit ? 's' : 'm'"
      placeholder="Выберите категорию"
    />
    <tui-data-list
      *tuiDataList
    >
      <button
        tuiOption
        (click)="isAddCategoryMode = true"
      >
        <tui-svg
          src="tuiIconPlusCircleLarge"
          class="icon tui-space_right-2"
        ></tui-svg>
        Добавить
      </button>
      <button
        *ngFor="let item of categories$ | async"
        tuiOption
        [value]="item"
      >
        {{ item }}
      </button>
    </tui-data-list>
  </tui-select>
  <button
    *ngIf="mode === ModifyMode.edit"
    class="tui-space_right-3"
    tuiButton
    type="button"
    appearance="secondary"
    size="s"
    (click)="onCancel()"
  >
    <tui-svg
      src="tuiIconXCircleLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Отмена
  </button>
  <button
    tuiButton
    type="button"
    appearance="primary"
    (click)="onChangeRacer()"
    [disabled]="formGroup.invalid"
    [size]="mode === ModifyMode.edit ? 's' : 'm'"
  >
    <tui-svg
      src="tuiIconPlusCircleLarge"
      class="tui-space_right-2"
    ></tui-svg>
    {{ buttonLabelMap[mode] }}
  </button>
</form>
