<ng-container *ngIf="raceStatus === RaceStatus.READY || raceStatus === RaceStatus.START">
  <button
    *ngIf="raceType === RaceType.ITT || (!isRaceBeginning && !isRaceEnded)"
    tuiButton
    type="button"
    appearance="primary"
    (click)="onStart()"
    [disabled]="(isRaceBeginning && !isRacePaused) || isRaceEnded || !isAllRacersHasNumbers"
  >
    <tui-svg
      src="tuiIconPlayCircleLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Старт
  </button>
  <button
    *ngIf="raceType === RaceType.GROUP && isRaceBeginning && !isRaceEnded"
    tuiButton
    type="button"
    appearance="secondary"
    (click)="onStop()"
    [disabled]="isRaceEnded"
  >
    <tui-svg
      src="tuiIconStopCircleLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Стоп
  </button>
  <button
    *ngIf="raceType === RaceType.ITT && !isSkipped"
    tuiButton
    type="button"
    appearance="secondary"
    (click)="onSkip()"
    [disabled]="!isRaceBeginning || isRacePaused || isAllRacersStarted"
  >
    <tui-svg
      src="tuiIconFastForwardLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Пропустить
  </button>
  <button
    *ngIf="raceType === RaceType.ITT && isSkipped"
    tuiButton
    type="button"
    appearance="secondary"
    (click)="onUndoSkip()"
  >
    <tui-svg
      src="tuiIconUndoLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Вернуть
  </button>
  <button
    *ngIf="raceType === RaceType.ITT"
    tuiButton
    type="button"
    appearance="flat"
    (click)="onPause()"
    [disabled]="!isRaceBeginning || isRacePaused || isAllRacersStarted"
  >
    <tui-svg
      src="tuiIconPauseCircleLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Пауза
  </button>
  <button
    tuiButton
    type="button"
    appearance="secondary-destructive"
    (click)="onReset()"
  >
    <tui-svg
      src="tuiIconTrashLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Сброс
  </button>
  <button
    class="icon-button"
    tuiButton
    type="button"
    appearance="secondary"
    tuiHintDirection="bottom"
    [tuiHint]="downloadHint"
    (click)="generateAndDownloadJSON()"
  >
    <tui-svg
      src="tuiIconDownloadLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Сохранить
  </button>
</ng-container>

<ng-container *ngIf="raceStatus === RaceStatus.PREPARE">
  <button
    class="icon-button"
    tuiButton
    type="button"
    appearance="secondary"
    tuiHintDirection="bottom"
    [tuiHint]="uploadHint"
    (click)="fileInput.click()"
  >
    <tui-svg
      src="tuiIconUploadLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Загрузить состояние
  </button>
  <button
    class="icon-button"
    tuiButton
    type="button"
    appearance="secondary"
    tuiHintDirection="bottom"
    [tuiHint]="googleTableHint"
    (click)="onGoogleTableClick()"
  >
    <tui-svg
      src="tuiIconTableLarge"
      class="tui-space_right-2"
    ></tui-svg>
    Получить список участников
  </button>
</ng-container>

<form #fileInputForm style="display: none">
  <input type="file" accept=".json" #fileInput style="display: none">
</form>

<a class="btn btn-clear" title="Download JSON" [href]="downloadJsonHref" download="download.json" #download></a>

<ng-template #uploadHint>
  <span><b>Загрузить состояние</b><br> гонки из JSON</span>
</ng-template>

<ng-template #googleTableHint>
  <span><b>Получить список участников</b><br>  из Google Таблицы</span>
</ng-template>

<ng-template #downloadHint>
  <span><b>Сохранить состояние</b><br>гонки в JSON</span>
</ng-template>
