:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  grid-column: 1 / -1;

  & button {
    width: 200px;
  }

  & button.icon-button {
    width: fit-content;
  }
}
