<tui-island size="l">
  <h2 class="tui-island__title tui-space_bottom-5">Финиш</h2>
  <form class="tui-form__row_multi-fields tui-space_bottom-8">
    <tui-input class="input tui-space_right-3">
      Фамилия Имя
      <input
        tuiTextfield
        type="text"
      >
    </tui-input>
    <button
      tuiButton
      type="button"
      appearance="primary"
    >
      <tui-svg
        src="tuiIconFlagLarge"
        class="tui-space_right-2"
      ></tui-svg>
      Финиш
    </button>
  </form>
  <ol class="tui-list tui-list_ordered tui-list_large">
    <li class="tui-list__item">Константиновский Константин - 20:46</li>
    <li class="tui-list__item">Константиновский Константин - 20:46</li>
    <li class="tui-list__item">Константиновский Константин - 20:46</li>
    <li class="tui-list__item">Константиновский Константин - 20:46</li>
    <li class="tui-list__item">Константиновский Константин - 20:46</li>
    <li class="tui-list__item">Константиновский Константин - 20:46</li>
  </ol>
</tui-island>
