.input {
  min-width: 400px;
}

.form {
  display: flex;
  gap: 20px;

  & button {
    width: 200px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

