:host {
  display: grid;
  grid-template-columns: 60% 40%;
}

.help-text {
  grid-column: 1 / 3;

  font-size: 4rem;
  line-height: 120%;
  font-weight: bold;
  text-align: center;
}

.racers-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.current, .next {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 650px;
}

.empty-list {
  text-align: center;
}

.racer {
  min-height: 80px;
}

.skipped {
  text-decoration: line-through;
  color: var(--tui-negative);
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  transform: scale(3);
}

.button-wrapper {
  display: flex;

  & button {
    flex-grow: 1;
  }
}

.dialog-description {
  text-align: center;
}

.timer-count {
  font-family: "JetBrains", monospace !important;
}
